*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    background-color: black;
    margin-inline: 10px;
}

.user{
    height: 200px;
    width: calc( 100% / 7 - 20px );
    position: relative;
}

img {
    width: 100%;
    display: block;    
}


.icon-top{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    gap: 10px;
}



.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    height: calc( 100vh - 150px );
    overflow: auto;
}

.table{
    height: 30px;
    border-radius: 10px;
    background-color: grey;
}

.size{
    height: 30px;
    border-radius: 10px;
    background-color: grey;
}

.icon-top .icon1{
    position: absolute;
    top: 0;
    right: 0;
}

.name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(34, 34, 34, .7);
    padding: 5px 5px;
    color: white;
}

.container-foot{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    position: relative;
    
}

.container-footer-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icon{
    width: calc( 100 / 3 );
    height: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    justify-content: center;
}

.icon > a {
    color: white;
}

.container-footer-center{
    display: flex;
    flex-direction: row;
    gap: 20px;
}